.header {
	top: 0px;
}
/* Sobre */
.sobre {
	margin-top: 60px;
	padding-bottom: 30px;
}
.sobre-texto {
	padding: 15px;
}
.sobre img {
	margin-top: 15px;
}

/* Historia */
.historia {
	background: #17222D;
}
.historia-texto {
	padding: 15px;
}
.historia img {
	margin-top: 15px;
	padding-bottom: 60px;
}
/* Diretoria */
.diretoria {
	margin-top: 30px;
}
.diretores {
	padding: 20px 0;
}
.diretores img {
	transition: 0.3s;
	filter: grayscale(1) contrast(0.9);
}
.diretores img:hover {
	filter: grayscale(0) contrast(1);
}
/* Membros */
.membros {
	margin-top: 30px;
}
/* Orientadores */
.orientadores {
	background: #17222D;
	margin-top: 30px;
	padding-bottom: 30px;
}
/* Seletivas */
.seletivas {
	margin: 60px auto;
	text-align: center;
}
.seletivas h3 {
	margin-bottom: 60px;
}
